# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.venv/
.env/
venv/
ENV/

# IDEs/editors
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Datbases
*.db
*.db-wal
*.db-shm
