[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "Foghorn"
version = "0.4.6"
description = "Swiss army knife Caching DNS server with plugin-based controls. DoT, DoH, ACL, query filters, etc."
authors = [ { name = "Zack Allison", email = "zack@zackallison.com" } ]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "PyYAML>=6.0.1",
  "jsonschema>=4.17.3",
  "cachetools",
  "dnslib>=0.9.24",
  "dnspython>=2.6.1",
  "fastapi>=0.111.0",
  "httpx",
  "psutil",
  "pytest",
  "pytest-cov",
  "requests>=2.31.0",
  "uvicorn>=0.30.0",
  "watchdog",
  "whois",
  "coverage",
]

[optional-dependencies]
dev = [
   "black",
   "ruff",
   "isort",
]

[project.scripts]
foghorn = "foghorn.main:main"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

[tool.pytest.ini_options]
addopts = "--maxfail=1 --disable-warnings"
markers = [
  "slow: marks tests that start real network servers or otherwise run slowly",
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402"]
"**/{tests,docs,tools}/*" = ["E402"]

[tool.isort]
profile = "black"
