[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "Foghorn"
version = "0.4.7"
description = "**Foghorn** is a fast, pluggable DNS server that caches, filters, routes, and bends DNS to your will. It can act as an authoritative server, recursive resolver, or forwarder—over UDP, TCP, DoT, and DoH—because DNS should do what *you* want."

authors = [ { name = "Zack Allison", email = "zack@zackallison.com" } ]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "PyYAML>=6.0.1",
  "jsonschema>=4.17.3",
  "cachetools",
  "dnslib>=0.9.24",
  "dnspython>=2.6.1",
  "fastapi>=0.111.0",
  "httpx",
  "psutil",
  "pytest",
  "pytest-cov",
  "requests>=2.31.0",
  "uvicorn>=0.30.0",
  "watchdog",
  "whois",
  "coverage",
  "docker>=7.0.0",
  "cryptography",
]

[optional-dependencies]
dev = [
   "black",
   "ruff",
   "isort",
]

[project.scripts]
foghorn = "foghorn.main:main"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]

[tool.pytest.ini_options]
addopts = "--maxfail=1 --disable-warnings"
markers = [
  "slow: marks tests that start real network servers or otherwise run slowly",
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["E402"]
"**/{tests,docs,tools}/*" = ["E402"]

[tool.isort]
profile = "black"
