[build-system]
requires = ["setuptools>=68", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "Foghorn"
version = "0.1.0"
description = "Caching DNS server with plugin-based access control and new-domain filter"
authors = [ { name = "Zack Allison" } ]
license = { text = "MIT" }
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "dnslib>=0.9.24",
  "requests>=2.31.0",
  "PyYAML>=6.0.1",
  "whois"
]

[project.optional-dependencies]
dev = [
  "pytest",
  "black",
  "ipython"
]

[project.scripts]
foghorn = "foghorn.main:main"

[tool.setuptools]
package-dir = {"" = "src"}

[tool.setuptools.packages.find]
where = ["src"]
